@use "../../../mixins.scss" as *;

.createProducts{
    max-width: 100%;
    width: 100%;
    height: 100%;
    @include row_centered();
}

.createProducts__main{
    max-width: 55%;
    width: 100%;
    height: 100%;
    @include column_centered();
    gap: 20px;
    & label{
        height: 10%;
    }   
    & button{
        height: 10%;
    }
}