:root{
  height: max-content;
}

html{
  height: max-content;
  margin: 0;
  padding: 0;
  background-color: #F9FCFF;
}

body{
  height: 100%;
}

#root{
  max-width: 100%;
  width: 100%;
  height: 100%;
}